auth_enabled: false

ingester:
  chunk_idle_period: 3m
  chunk_retain_period: 1m
  max_chunk_age: 1m
  max_streams_per_user: 10000
  max_global_streams_per_user: 10000

limits_config:
  enforce_metric_name: false
  reject_old_samples: true
  reject_old_samples_max_age: 168h
  ingestion_rate_mb: 1
  ingestion_burst_size_mb: 6

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

server:
  http_listen_port: 3100
  log_level: info

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/boltdb-shipper-active
    shared_store: filesystem
  filesystem:
    directory: /loki/chunks

chunk_store_config:
  max_look_back_period: 0s

table_manager:
  retention_deletes_enabled: true
  retention_period: 2160h # 90 days

query_range:
  align_queries_with_step: true
  max_retries: 5
  cache_results: true
  results_cache:
    cache:
      enable_fifocache: true
      default_validity: 1m
      background:
        writeback_goroutines: 10
        writeback_chan_size: 10000
      memcached_client:
        consistent_hash: true
        update_interval: 1m
        batchsize: 4096
      max_cache_freshness_per_query: 10m
      compression: snappy

cache_config:
  enable_fifocache: true
  background:
    writeback_goroutines: 10
    writeback_chan_size: 10000
  memcached_client:
    consistent_hash: true
    update_interval: 1m
    batchsize: 4096
  max_cache_freshness_per_query: 10m
  compression: snappy
